name: Commit Scan

on:
  push:
  pull_request:

jobs:
  trufflehog:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Scan for leaked secrets
        uses: trufflesecurity/trufflehog@main
        with:
          extra_args: --results=verified,unknown --fail