name: Commit Secret Scan

on:
  push:
  pull_request:

jobs:
  trufflehog:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout full repo history
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  

      - name: Run TruffleHog scan
        uses: trufflesecurity/trufflehog@main
        with:
          base: main
          head: HEAD
          extra_args: --results=verified,unknown --debug